.banner{
  position: relative;
  padding: 100px 0px;
  color: rgb(253, 252, 252);
  text-shadow: 2px 2px rgb(185, 53, 5);
}
img{
  position: fixed;
  z-index: -9;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  height: 100%;

}