body{
  background: rgb(0, 0, 0);
  color: rgb(253, 252, 252);
}


.work-banner{
  padding: 150px 0px;
}


.about-banner{
  padding: 150px 0px;
  display: flex;
}
.about-banner p{
  margin: auto;
}

.path-error{
  text-align: center;
  margin-top: 25%;
}
.path-error p{
  margin-top: 40px;
}

/* MEDIA QUERIES */
/* @media (max-width: 580px){
  img {
    display: none;
  }
} */